
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  background-image: linear-gradient(135deg, #aaffff, #ffaec4); 

}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  margin: 0;
  }

.navUL{
  display: inline-flex;
}

.navbarButton{
  margin: 4px;
  padding: 4px 10px 4px 10px;
  border-radius: 12%;
  font-weight: 600;

}

.pokecardContainer{
}

.gridContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;


}


.pokemonCard{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
}

.pokemonCard p {
  color: white;
  font-weight: 700;
  margin: 0;
}

.pokemonCard img {
  max-width: 100%;
  max-height: fit-content;
  height: auto;
  border-radius: 8px;
}
.pokemonCard:hover {
  transform: scale(1.05);
}

.forwardBackwardButtons{
  padding-top: 20px;
}
.genericBtn{
  background-color: #f1356d;
  color: white;
  font-weight: 700;
  margin-right: 20px;
  border-radius: 7px;
  border-style: none;
  width: 12rem;
  height: 3rem;
}

.genericBtn:hover {
  width: 12.2rem;
  height: 3.2rem;
}


















.about {
  max-width: 800px; /* Set a maximum width for the content area */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Add some padding for spacing */
  border: 1px solid #ddd; /* Add a thin border */
  border-radius: 5px; /* Add rounded corners */
}

.about h2 {
  font-size: 2em; /* Set a larger font size for the title */
  margin-bottom: 10px; /* Add some space after the title */
}

.about img {
  width: 200px; /* Set a width for the image */
  float: left; /* Float the image to the left */
  margin-right: 20px; /* Add some margin between the image and the content */
}

.about p {
  margin-bottom: 10px; /* Add some space after paragraphs */
}

.about ul {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.about ul li {
  display: inline-block; /* Display list items inline */
  margin-right: 10px; /* Add margin between list items */
}

.about table {
  width: 100%; /* Make the table span the full width */
  border-collapse: collapse; /* Remove borders between table cells */
}

.about th,
.about td {
  padding: 5px; /* Add padding to table cells */
  border: 1px solid #ddd; /* Add a thin border to table cells */
  text-align: left; /* Align content left */
}

.about th {
  font-weight: bold; /* Make table headers bold */
}
